{% extends "layout.html" %}

{% block main %}

<img src="{{ url_for('fig', query = query) }}" alt="Image Placeholder">

<table class="table table-striped" id = "articles">
    <thead>
        <tr>
            <th> Source </th>
            <th> Title </th>
            <th> Publish Time </th>
        </tr>
    </thead>
    <tbody>

        {% for source in delaydict %}
        <tr class="{{ source }}FirstArticle">
            <td>
                <a href="#" class="toggler" data-source="{{ source }}"> 
                    {{ source }} 
                </a>
            </td>

            <td> {{ delaydict[source][0]['title'] }} </td>
            <td> {{ delaydict[source][0]['datetime'] }} </td>
        </tr>

            {% for i in range(1, delaydict[source]| length) %}
            <tr class="{{ source }}" style="display:none">
                <td>  {{ source }} </td>


                <td>
                <a href="{{ url_for('update', query = query, source = source, i = i) }} ">
                     {{ delaydict[source][i]['title'] }}
                </a>
                </td>
                <td> {{ delaydict[source][i]['datetime'] }} </td>  
            </tr>
            {% endfor %}

        {% endfor %}

    </tbody>
</table>


{% endblock %}


